.clickable {
    cursor: pointer;
    margin-top: 5px;
}

.clickable:hover {
    text-decoration: underline;
}

.spaced {
    margin-top: 5px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #D9EDF7;
}

.bigbutton {
    width: 200px;
}