body {
    margin: 15px;
}

.clickable {
    cursor: pointer;
    margin-top: 5px;
}

.labelclick {
    cursor: pointer;
    margin-top: 3px;
}

.clickable:hover {
    text-decoration: underline;
}

.spaced {
    margin-top: 5px;
}

.topspace {
    margin-top: 50px;
}

.botspace {
    margin-bottom: 30px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #D9EDF7;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

table .absorbing-column {
    width: 100%;
}

#dropbox {
   width: 50%;
   height: 150px;
   border: 3px dashed #DDD;
   border-radius: 8px;
   text-align: center;
   color: #BBB;
   font-size: 32px;
}

#dropbox span {
    margin-top: 43px;
    display: block;
}

#dropbox.over {
    border: 3px dashed #000;
    color: #000;
}

.upload input[type=submit] {
    margin-top: 5px;
}

.bigbutton {
    width: 200px;
}

[hidden] {
    display: none !important;
}

.nounderline {
    cursor: pointer;
}
.nounderline:hover {
    text-decoration: none;
}
.nounderline:link {
    text-decoration: none;
}
.nounderline:visited {
    text-decoration: none;
}
.nounderline:active {
    text-decoration: none;
}

.hidden {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    text-align: center;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.inputfile + label {
    cursor: pointer;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    pointer-events: none;
}

label {
    font-weight: normal;
}

.downloadableFile {
    cursor: pointer;
}

.downloadableFile:hover {
    border-bottom: 1px dashed #000;
}