target/
!.mvn/wrapper/maven-wrapper.jar
*.png

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.DS_Store
.idea/
*.iml

document-archive/

.mvn/
mvnw
mvnw.cmd

.gradle/

document-archive.yaml
log4j-application.log
ok
src/main/resources/static/app/components/
