<!doctype html>
<html>
<head lang="de">
    <meta charset="UTF-8" />
    <title>Document-Archive</title>
    <link rel="stylesheet" href="./app/components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./app/archive.css" />
</head>
<body ng-app="archiveApp" style="margin: 15px;">

    <div class="container" ng-controller="AppController">

        <div class="page-header">
            <h1>Document Archive</h1>
        </div>

        <div class="upload">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input id="fileuploadchoose" type="file" name="fileToUpload" data-multiple-caption="{count} files selected" multiple>
                <!--<label for="fileuploadchoose"><strong>Choose a file</strong></label>-->
                <input id="fileuploadbutton" type="submit" value="Upload" name="submit">
            </form><br>
            <!--
            <div id="dropbox" ng-class="dropClass">
                <span>Drop files here...</span>
            </div><br>
            -->
        </div>

        <div>
            <div class="alert alert-info" role="alert" ng-hide="files &amp;&amp; files.length > 0">
                There are no files yet!
            </div>

            <div ng-show="files &amp;&amp; files.length > 0">
                <button type="button" class="btn btn-info bigbutton" ng-click="verify()">Verify</button>
            </div>

            <div class="alert alert-warning spaced" role="alert" ng-show="showVerifyAlert">
                Verifying...
            </div>

            <div class="alert alert-success clickable" role="alert" ng-show="showVerifyTrue" ng-click="hideVerifyTrue()">
                <strong>All files OK !</strong>
                <span class="close" aria-hidden="true">&times;</span>
            </div>

            <div class="alert alert-danger clickable" role="alert" ng-show="showVerifyFalse" ng-click="hideVerifyFalse()">
                <strong>{{errorMessage}}</strong> <br>
                Start at -> <span>{{corruptedFile}}</span>
                <span class="close" aria-hidden="true">&times;</span>
            </div>
        </div>

        <hr />

        <div ng-show="files &amp;&amp; files.length > 0">

            <div class="form-group">
                <input type="text" class="form-control" id="searchField" placeholder="Search..." ng-model="searchArchive">
            </div>

            <hr />

            <div>
                <table class="table table-striped table-hover" id="archiveTable" ts-wrapper> <!-- table-condensed -->
                    <thead>
                        <tr>
                            <th ts-criteria="date|parseDate">
                                <a href="" class="nounderline">
                                    Date&ensp;
                                </a>
                            </th>
                            <th ts-criteria="time">
                                <a href="" class="nounderline">
                                    Time&ensp;
                                </a>
                            </th>
                            <th ts-criteria="totalFileName|lowercase" ts-default>
                                <a href="" class="nounderline">
                                    Filename&ensp;
                                </a>
                            </th>
                            <th ts-criteria="path|lowercase">
                                <a class="nounderline">
                                    Path&ensp;
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in files | filter:searchArchive" ng-dblclick="gotoFile(file.id)" ts-repeat ts-hide-no-data>
                            <td>{{file.date | date:'yyyy-MM-dd'}}</td>
                            <td>{{file.time | date:'HH:mm:ss'}}</td>
                            <td>{{file.totalFileName}}</td>
                            <td>{{file.path}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script type="text/javascript" src="./app/components/angular/angular.min.js"></script>
<script type="text/javascript" src="./app/components/angular-tablesort/js/angular-tablesort.js"></script>
<script type="text/javascript" src="./app/archive.js"></script>
</body>
</html>