<!doctype html>
<html>
<head lang="de">
    <meta charset="UTF-8" />
    <title>Document-Archive</title>
    <link rel="stylesheet" href="./app/components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./app/archive.css" />
</head>
<body ng-app="archiveApp" style="margin: 15px;">

    <div class="container" ng-controller="AppController">

        <div class="page-header">
            <h1>Document Archive</h1>
        </div>

        <div>
            <div class="alert alert-info" role="alert" ng-hide="files &amp;&amp; files.length > 0">
                There are no files yet!
            </div>

            <div ng-show="files &amp;&amp; files.length > 0">
                <button type="button" class="btn btn-success" ng-click="verify()">Run Verify Route</button>
                <!--
                <button type="button" class="btn btn-info" ng-click="mail()">Run Mail Route</button>
                -->
            </div>

            <div class="alert alert-warning spaced" role="alert" ng-show="showVerifyAlert">
                Verifying...
            </div>

            <div class="alert alert-success clickable" role="alert" ng-show="showVerifyTrue" ng-click="hideVerifyTrue()">
                <strong>All files OK !</strong>
            </div>

            <div class="alert alert-danger clickable" role="alert" ng-show="showVerifyFalse" ng-click="hideVerifyFalse()">
                <strong>{{errorMessage}}</strong> <br>
                Start at -> <span>{{corruptedFile}}</span>
            </div>
        </div>

        <hr />

        <div ng-show="files &amp;&amp; files.length > 0">

            <div class="form-group">
                <input type="text" class="form-control" id="searchField" placeholder="Search..." ng-model="searchArchive">
            </div>

            <hr />

            <div>
                <table class="table table-striped table-hover table-condensed" id="archiveTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Filename</th>
                            <th>Hash</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in files | filter:searchArchive">
                            <td>{{file.date | date:'yyyy-MM-dd'}}</td>
                            <td>{{file.time | date:'HH:mm:ss'}}</td>
                            <td>{{file.fileName}}</td>
                            <td>{{file.hash}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script type="text/javascript" src="./app/components/angular/angular.min.js"></script>
<script type="text/javascript" src="./app/components/angular-base64/angular-base64.js"></script>
<script type="text/javascript" src="./app/archive.js"></script>
</body>
</html>